<header class="mt-5">
    <div class="d-flex justify-content-between">

        <div class="menu-item">
            <a href="/notes" class="btn btn-primary btn-sm font-weight-bold active">Ghi chú</a>
        </div>

        <div class="account">
            <span>Xin chào : </span>
            <span class="font-weight-bold">{{ session.fullname }}</span>
            <a href="/profile" class="btn btn-info btn-sm font-weight-bold">Thông tin tài khoản</a>

            <form action="/logout" method="POST" style="display: inline">
                <button class="btn btn-danger btn-sm font-weight-bold">Đăng xuất</button>
            </form>
        </div>
        
    </div>


</header>