<div class="mt-5">

    <h2>Thêm ghi chú</h2>

    <form name="form-create-note" action="/notes/store" method="POST">
        <div class="form-group">
            <label for="name">Tên ghi chú</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Nhập tên ghi chú" required>
        </div>

        <div class="form-group">
            <label for="description">Mô tả</label>
            <textarea rows="20" class="form-control" name="description" id="description"
                placeholder="Mô tả ghi chú"></textarea>
        </div>

        <div class="form-group actions">
            <button class="btn btn-primary btn-sm btn-create">Lưu</button>
            <a href="/notes" class="btn btn-warning btn-sm">Quay về</a>
        </div>

    </form>
</div>

<script>
    // Update title
    document.title = "Quản lí ghi chú | Thêm mới"

    const btnCreate = document.querySelector('.btn-create')
    const formCreateNote = document.forms['form-create-note']

    // Click submit disabled button create
    formCreateNote.onsubmit = function() {
        btnCreate.setAttribute('disabled', 'disabled')
    }
</script>