<div class="mt-5">
    <h2>Sửa ghi chú</h2>

    <form method="POST" action="/notes/{{note._id}}?_method=PUT" >
        <div class="form-group">
            <label for="name">Tên ghi chú</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Nhập tên ghi chú" value="{{note.name}}" required>
        </div>

        <div class="form-group">
            <label for="description">Mô tả</label>
            <textarea rows="10" class="form-control" name="description" id="description"
                placeholder="Mô tả ghi chú">{{note.description}}</textarea>
        </div>

        <div class="form-group">
            <label for="category_id">Danh mục</label>
            <select name="category_id" id="category_id" class="form-control">
                <option value="không có">Không có</option>
            </select>
        </div>

        <div class="form-group actions">
            <button class="btn btn-primary btn-sm">Cập nhật</button>
            <a href="/notes" class="btn btn-warning btn-sm">Quay về</a>
        </div>

    </form>
</div>