<div class="mt-5">
    <h2>Sửa ghi chú</h2>

    <form method="POST" action="/notes/{{note._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Tên ghi chú</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Nhập tên ghi chú"
                value="{{note.name}}" required>
        </div>

        <div class="form-group">
            <label for="description">Mô tả</label>
            <textarea rows="20" class="form-control" name="description" id="description"
                placeholder="Mô tả ghi chú">{{note.description}}</textarea>
        </div>

        <div class="form-group actions">
            <button class="btn btn-primary btn-sm">Cập nhật</button>
            <a href="/notes" class="btn btn-warning btn-sm">Quay về</a>
        </div>

    </form>
</div>

<script>
    // Update title
    document.title = "Quản lí ghi chú | Chỉnh sửa"

    // Integrate TinyMCE
    tinymce.init({
        selector: 'textarea#description',
        height: 500,
        plugins: [
            'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
            'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen',
            'insertdatetime', 'media', 'table', 'help', 'wordcount'
        ],
        toolbar: 'undo redo | blocks | ' +
            'bold italic backcolor | alignleft aligncenter ' +
            'alignright alignjustify | bullist numlist outdent indent | ' +
            'removeformat | help',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
    });
</script>