<div class="mt-5">
    <h2>Danh sách ghi chú</h2>
    <a href="/notes/create" class="btn btn-primary btn-sm">Thêm mới</a>

    <table class="mt-4 table table-hover table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Tên ghi chú</th>
                <th>Mô tả</th>
                <th>Ngày tạo</th>
                <th>Ngày cập nhật</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>